<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">More about who we are and what we do</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/me.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>About Us</h4>
                                    <h4 class="subheading">Who we are</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Taylor Software is a software development company providing end to end
                                    application and development solutions. Run by Paul Taylor we have 10years+ experience in
                                        developing and managing large scale software applications.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>More</h4>
                                    <h4 class="subheading">What we offer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We provide full end to end solutions including the running
                                        and maintenance of your software in the cloud. Or we are happy to consult and provide value
                                        through our knowledge and experience. References available! </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Technology</h4>
                                    <h4 class="subheading">Our skills</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We love building web applications and mobile applications - but we can do a lot more
                                        Java | Databases MYSQL Postgres NoSQL Oracle| iOS | Ruby on rails | Android | Linux</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Why us</h4>
                                    <h4 class="subheading">Simply - We Deliver!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We care about shipping your application to a live production environment
                                        and seeing it make a difference in people lives. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>